<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Free restaurant catalogue for you" />
    <meta name="theme-color" content="#15d82f" />

    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <link rel="icon" href="/icons/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <button id="menu" class="header__menu">☰</button>
      <div class="header__inner">
        <h1 class="header__title">Resto Mania</h1>
      </div>

      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#/">Home</a></li>
          <li class="nav__item"><a href="#/like">Favorite</a></li>
          <li class="nav__item"><a href="#/aboutus">About Us</a></li>
        </ul>
      </nav>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer>copyright © 2023 Resto Mania</footer>
  </body>
</html>
